
@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'iconfont';
  src: url("fonts/iconfont/iconfont.eot");
  src: url("fonts/iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("fonts/iconfont/iconfont.ttf") format("truetype"), url("fonts/iconfont/iconfont.woff") format("woff"), url("fonts/iconfont/iconfont.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-yundun:before {
  content: "\e600"; }

.icon-yes2:before {
  content: "\e601"; }

.icon-wrong:before {
  content: "\e602"; }

.icon-video:before {
  content: "\e603"; }

.icon-upload:before {
  content: "\e604"; }

.icon-up2:before {
  content: "\e605"; }

.icon-up:before {
  content: "\e606"; }

.icon-unlock:before {
  content: "\e607"; }

.icon-strap:before {
  content: "\e608"; }

.icon-star2:before {
  content: "\e609"; }

.icon-star:before {
  content: "\e60a"; }

.icon-slb:before {
  content: "\e60b"; }

.icon-shopping-cart:before {
  content: "\e60c"; }

.icon-set2:before {
  content: "\e60d"; }

.icon-set:before {
  content: "\e60e"; }

.icon-Search:before {
  content: "\e60f"; }

.icon-sale:before {
  content: "\e610"; }

.icon-rubbish:before {
  content: "\e611"; }

.icon-right2:before {
  content: "\e612"; }

.icon-right:before {
  content: "\e613"; }

.icon-reload:before {
  content: "\e614"; }

.icon-reduce:before {
  content: "\e615"; }

.icon-play:before {
  content: "\e616"; }

.icon-pic:before {
  content: "\e617"; }

.icon-phone:before {
  content: "\e618"; }

.icon-order:before {
  content: "\e619"; }

.icon-odps:before {
  content: "\e61a"; }

.icon-loading:before {
  content: "\e61b"; }

.icon-link:before {
  content: "\e61c"; }

.icon-lessen:before {
  content: "\e61d"; }

.icon-left2:before {
  content: "\e61e"; }

.icon-left:before {
  content: "\e61f"; }

.icon-info:before {
  content: "\e620"; }

.icon-home:before {
  content: "\e621"; }

.icon-heart2:before {
  content: "\e622"; }

.icon-heart:before {
  content: "\e623"; }

.icon-good:before {
  content: "\e624"; }

.icon-giving:before {
  content: "\e625"; }

.icon-file:before {
  content: "\e626"; }

.icon-ecs:before {
  content: "\e627"; }

.icon-earth:before {
  content: "\e628"; }

.icon-download:before {
  content: "\e629"; }

.icon-down3:before {
  content: "\e62a"; }

.icon-down2:before {
  content: "\e62b"; }

.icon-down:before {
  content: "\e62c"; }

.icon-customers:before {
  content: "\e62d"; }

.icon-customer:before {
  content: "\e62e"; }

.icon-counter:before {
  content: "\e62f"; }

.icon-cloud:before {
  content: "\e630"; }

.icon-clock:before {
  content: "\e631"; }

.icon-card:before {
  content: "\e632"; }

.icon-calendar:before {
  content: "\e633"; }

.icon-blow-up:before {
  content: "\e634"; }

.icon-bang2:before {
  content: "\e635"; }

.icon-bang:before {
  content: "\e636"; }

.icon-appendix:before {
  content: "\e637"; }

.icon-add:before {
  content: "\e638"; }

.icon-dialog2:before {
  content: "\e639"; }

.icon-help:before {
  content: "\e63a"; }

.icon-tel:before {
  content: "\e63b"; }

.icon-ocs:before {
  content: "\e63c"; }

.icon-lock:before {
  content: "\e63d"; }

.icon-ace:before {
  content: "\e63e"; }

.icon-mail:before {
  content: "\e63f"; }

.icon-cdn:before {
  content: "\e640"; }

.icon-yunjiankong:before {
  content: "\e641"; }

.icon-oss:before {
  content: "\e642"; }

.icon-ots:before {
  content: "\e643"; }

.icon-arrow-right:before {
  content: "\e644"; }

.icon-arrow-left:before {
  content: "\e645"; }

.icon-pen:before {
  content: "\e646"; }

.icon-rds:before {
  content: "\e647"; }

.icon-yes3:before {
  content: "\e648"; }

.icon-no3:before {
  content: "\e649"; }

.icon-stop:before {
  content: "\e64a"; }

.icon-zhuanxian:before {
  content: "\e64b"; }

.icon-qingecs:before {
  content: "\e64c"; }

.icon-money:before {
  content: "\e64d"; }

.icon-yunjiankong-big:before {
  content: "\e64e"; }

.icon-yundun-big:before {
  content: "\e64f"; }

.icon-slb-big:before {
  content: "\e650"; }

.icon-rds-big:before {
  content: "\e651"; }

.icon-ots-big:before {
  content: "\e652"; }

.icon-oss-big:before {
  content: "\e653"; }

.icon-odps-big:before {
  content: "\e654"; }

.icon-ocs-big:before {
  content: "\e655"; }

.icon-ecs-big:before {
  content: "\e656"; }

.icon-ace-big:before {
  content: "\e657"; }

.icon-cdn-big:before {
  content: "\e658"; }

.icon-logo:before {
  content: "\e659"; }

.icon-logo2:before {
  content: "\e65a"; }

.icon-gold:before {
  content: "\e65b"; }

.icon-logo3:before {
  content: "\e65c"; }

.icon-service:before {
  content: "\e65d"; }

/*
 * Grid
 * totalColumns: 12, gutterWidth: 2%
 * */
.y-span1, .y-span2, .y-span3, .y-span4, .y-span5, .y-span6, .y-span7, .y-span8, .y-span9, .y-span10, .y-span11, .y-span12 {
  float: left;
  margin-right: 2%;
  _margin-right: 1.9%; }

.y-span1 {
  width: 6.5%; }

.y-span2 {
  width: 15%; }

.y-span3 {
  width: 23.5%; }

.y-span4 {
  width: 32%; }

.y-span5 {
  width: 40.5%; }

.y-span6 {
  width: 49%; }

.y-span7 {
  width: 57.5%; }

.y-span8 {
  width: 66%; }

.y-span9 {
  width: 74.5%; }

.y-span10 {
  width: 83%; }

.y-span11 {
  width: 91.5%; }

.y-span12 {
  width: 100%; }

.y-row {
  zoom: 1;
  margin-left: auto;
  margin-right: auto; }
.y-row:before, .y-row:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }
.y-row:after {
  clear: both; }
.y-row .y-last {
  margin-right: 0; }

.y-h1, .y-h2, .y-h3 {
  color: #000; }

.y-h1 {
  font-size: 24px; }

.y-h2 {
  font-size: 16px; }

.y-h3 {
  font-size: 14px; }

.y-stepguide {
  display: block;
  clear: both;
  padding: 10px 0;
  overflow: hidden;
  font-size: 14px;
  zoom: 1; }
.y-stepguide:before, .y-stepguide:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }
.y-stepguide:after {
  clear: both; }
.y-stepguide li {
  display: block;
  float: left;
  text-align: center;
  height: 25px;
  line-height: 25px;
  margin-left: -16px;
  padding-left: 16px;
  color: #FFF;
  background: url(/images/www-knight/components/form-supporter/stepguide.png?v=20131218) left center; }
.y-stepguide li span {
  display: block;
  clear: both;
  background: #69D1EA; }
.y-stepguide li.y-stepguide-unfinished {
  background: url(/images/www-knight/components/form-supporter/stepguide-unfinished.png?v=20131218) left center; }
.y-stepguide li.y-stepguide-unfinished span {
  background: #CCC; }

.y-stepguide-2step li {
  width: 49.9%; }

.y-stepguide-3step li {
  width: 33.3%; }

.y-stepguide-4step li {
  width: 24.9%; }

.y-form {
  zoom: 1;
  font-size: 12px; }
.y-form:before, .y-form:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }
.y-form:after {
  clear: both; }
.y-form table {
  width: 100%; }
.y-form table tr th {
  width: 160px;
  text-align: left; }
.y-form table tr td {
  padding: 10px 5px;
  vertical-align: middle; }
.y-form .y-form-error {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-left: 5px;
  padding-left: 25px;
  color: #F36000;
  line-height: 25px;
  background: url(/images/www-knight/components/form-supporter/error.png?v=20131218) left center no-repeat; }
.y-form .y-form-tip {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-left: 5px;
  color: #666;
  line-height: 25px; }
.y-form .y-radios {
  vertical-align: middle; }
.y-form .y-textbox {
  vertical-align: middle; }
.y-form .y-btn {
  vertical-align: middle; }

.y-upload {
  position: relative;
  overflow: hidden !important;
  display: inline-block;
  *display: inline;
  *zoom: 1; }
.y-upload input {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 500px;
  height: 100px;
  cursor: pointer;
  font-size: 100px; }

.y-radios {
  display: inline-block;
  *display: inline;
  *zoom: 1; }
.y-radios label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 10px;
  padding: 5px 0; }
.y-radios label span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  cursor: default; }
.y-radios label input {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin: 0 5px 0 0;
  padding: 0; }

.y-checkboxes {
  display: inline-block;
  *display: inline;
  *zoom: 1; }
.y-checkboxes label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 10px;
  padding: 5px 0; }
.y-checkboxes label span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  cursor: default; }
.y-checkboxes label input {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin: 0 5px 0 0;
  padding: 0; }

.y-form-suboptions {
  clear: both;
  padding: 10px 0 10px 20px;
  display: block !important; }

input.y-textbox {
  border: solid 1px #ccc;
  height: 28px;
  padding: 2px;
  line-height: 28px;
  outline: none;
  box-shadow: inset 1px 1px 1px #e8e8e8;
  color: #000;
  width: 240px; }

input.y-textbox:disabled {
  background: #EBEBEB; }

input.y-textbox:focus {
  border-color: #00A0CB; }

.y-form-submit {
  padding: 20px 0;
  clear: both;
  text-align: center; }

textarea.y-textarea {
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 1px #e8e8e8;
  min-height: 80px;
  width: 300px;
  vertical-align: middle; }

textarea.y-textarea:focus {
  border-color: #00A0CB;
  outline: none; }

.y-form-cell-upload img {
  border: 1px solid #CCC;
  padding: 3px;
  display: none;
  margin-top: 10px;
  clear: both;
  max-width: 185px;
  max-height: 185px; }

.y-form-ie-preview {
  width: 185px;
  height: 185px;
  margin-top: 10px; }

select.y-select {
  color: #333;
  height: 34px;
  -webkit-appearance: none;
  -webkit-padding-end: 30px;
  -webkit-padding-start: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 16px;
  background-image: -webkit-image-set(url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC") 1x, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAQCAYAAACV3GYgAAAAWklEQVRIx+3VOwoAIAwD0B49N686CCJ+K0aHFrIl8LaKqsqvEccxcPEQo8bgNs4KTBth4HaByCMWbhWIcsDEzYCoy2xcD4hW8QWuBqJXeoXLQIwK/iEc57iDBIg+ClNpjek/AAAAAElFTkSuQmCC") 2x);
  background-position: right center;
  background-repeat: no-repeat;
  border: 1px solid #CCC;
  border-radius: 0px;
  vertical-align: middle;
  outline: 0px; }

select.y-select:focus {
  border-color: #00A0CB; }

.y-form-panel {
  border: 1px solid #EBEBEB;
  background: #FFF;
  padding: 20px 0 20px 0;
  margin-bottom: 55px;
  *zoom: 1; }

.y-form-panel .y-form {
  margin-left: 22%; }

.y-form-info {
  text-align: center;
  padding: 30px 20%;
  font-size: 14px; }

.y-form-feedback {
  clear: both;
  border-top: 1px dashed #EBEBEB;
  padding: 30px;
  font-size: 12px; }
.y-form-feedback .y-row {
  text-align: center; }
.y-form-feedback i {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-style: normal;
  font-size: 32px;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 5px;
  color: #999; }
.y-form-feedback p {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
  vertical-align: middle; }

.y-numeric-stepper {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  *zoom: 1; }
.y-numeric-stepper a {
  width: 32px;
  height: 32px;
  float: left; }
.y-numeric-stepper a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70); }
.y-numeric-stepper a.y-numeric-stepper-minus {
  background: url(/images/www-knight/components/form-supporter/minus.png?v=20131218) 0 0 no-repeat; }
.y-numeric-stepper a.y-numeric-stepper-plus {
  background: url(/images/www-knight/components/form-supporter/plus.png?v=20131218) 0 0 no-repeat; }
.y-numeric-stepper input {
  width: 28px;
  height: 26px;
  display: block;
  float: left;
  border: solid 1px #ccc;
  border-left: none;
  border-right: none;
  outline: none;
  padding: 2px;
  line-height: 26px;
  box-shadow: inset 1px 1px 1px #e8e8e8;
  color: #000;
  text-align: center; }

.y-disable-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
  background: #FFF;
  width: 100%; }

.y-form-msg {
  padding: 40px;
  text-align: center; }
.y-form-msg .y-h1 i {
  font-size: 56px;
  vertical-align: middle;
  margin-right: 20px; }
.y-form-msg .y-h1 i.icon-yes3 {
  color: #6C0; }
.y-form-msg .y-h1 i.icon-no3 {
  color: #F90; }
.y-form-msg .y-h1 i.icon-info {
  color: #F90; }
.y-form-msg .y-h1 span {
  vertical-align: middle; }
.y-form-msg p {
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
  line-height: 170%; }
.y-form-msg p .y-form-msg-list {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left; }

.y-form-stepheader {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  clear: both;
  padding: 0;
  margin: 0; }
.y-form-stepheader i {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 40px;
  height: 30px;
  border-radius: 40px;
  background: #69D1EA;
  font-size: 22px;
  line-height: 22px;
  color: #FFF;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  padding-top: 10px;
  vertical-align: middle; }
.y-form-stepheader i.y-gray {
  background: #CCC; }

.y-btn * {
  margin: 0;
  padding: 0; }

.y-btn::-moz-focus-inner, .y-btn::-moz-focus-inner {
  border: 0; }

.y-btn {
  padding: 0;
  margin: 0;
  height: 36px;
  line-height: 36px;
  width: 140px;
  border: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  *overflow: visible;
  font-family: \5FAE\8F6F\96C5\9ED1, \5B8B\4F53 ;
  background-color: #00a2c9;
  color: #fff;
  outline: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.y-btn:hover {
  text-decoration: none !important;
  background-color: #33b5d4;
  color: #fff; }

.y-btn:active {
  position: relative;
  top: 1px;
  background-color: #20a5c5; }

.y-btn-mini {
  height: 24px;
  line-height: 24px;
  width: 100px;
  font-size: 12px; }

.y-btn-large {
  height: 42px;
  line-height: 42px;
  width: 180px;
  font-size: 18px; }

.y-btn-disabled {
  color: #ccc !important;
  background-color: #efefef !important;
  border: none !important;
  cursor: default; }

.y-btn-disabled:active {
  top: 0; }

.y-btn-white {
  border: 1px solid #33b5d4;
  background-color: #fff;
  color: #00a2c9; }
.y-btn-white:active {
  background-color: #5acbeb;
  color: #fff; }

.y-btn-highlight {
  background-color: #fff;
  color: #00a2c9; }
.y-btn-highlight:hover {
  background-color: #9cddf5;
  color: #00a2c9; }
.y-btn-highlight:active {
  background-color: #5acbeb;
  color: #ffffff; }

.y-btn-transparent {
  background-color: none;
  color: #fff;
  border: 1px solid #fff; }
.y-btn-transparent:hover {
  background-color: #fff;
  color: #000; }
.y-btn-transparent:active {
  background-color: #f0f0f0;
  color: #000; }

.y-btn-white:active {
  -webkit-box-shadow: inset 0 2px 2px rgba(45, 177, 209, 0.5);
  -moz-box-shadow: inset 0 2px 2px rgba(45, 177, 209, 0.5);
  box-shadow: inset 0 2px 2px rgba(45, 177, 209, 0.5); }

.y-tab-nav {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  clear: both;
  width: 100%;
  border: 1px solid #eeeeee; }
.y-tab-nav li {
  width: 30%;
  float: left;
  color: #000;
  background-color: #fbfaf8;
  margin-bottom: -1px;
  text-align: center;
  border-right: 1px solid #eeeeee; }
.y-tab-nav li:first-child {
  border-left: none; }
.y-tab-nav li:last-child {
  border-right: none; }
.y-tab-nav li:hover, .y-tab-nav li.active {
  position: relative;
  border-top: solid #9cddf5 2px;
  background-color: #fff; }
.y-tab-nav li:hover a, .y-tab-nav li.active a {
  position: relative;
  z-index: 1px;
  margin-bottom: -1px; }
.y-tab-nav li.active {
  border-top-color: #00a2ca; }
.y-tab-nav li a {
  height: 46px;
  line-height: 46px;
  width: 100%;
  text-align: center;
  float: left;
  cursor: pointer;
  color: #000; }
.y-tab-nav li a:hover {
  text-decoration: none; }

/* new tabs style by yangzi.zong */
.y-tabs .y-tabs-bar, .y-tabs-like .y-tabs-bar {
  height: 34px;
  overflow: hidden;
  position: relative; }
.y-tabs .y-tabs-bar .y-tabs-tab, .y-tabs-like .y-tabs-bar .y-tabs-tab {
  float: left;
  position: relative;
  margin-left: -1px;
  z-index: 0;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #00a2ca;
  background-color: #fbfaf8; }
.y-tabs .y-tabs-bar .y-tabs-tab a, .y-tabs-like .y-tabs-bar .y-tabs-tab a {
  text-decoration: none;
  height: 32px;
  display: block;
  text-align: center;
  border-left: 1px solid #eeeeee; }
.y-tabs .y-tabs-bar .y-tabs-tab:hover, .y-tabs-like .y-tabs-bar .y-tabs-tab:hover {
  background-color: white; }
.y-tabs .y-tabs-bar .y-tabs-tab:first-child a, .y-tabs .y-tabs-bar .y-tabs-tab-first a, .y-tabs-like .y-tabs-bar .y-tabs-tab:first-child a, .y-tabs-like .y-tabs-bar .y-tabs-tab-first a {
  border-left: 1px solid #eeeeee;
  margin-left: 1px; }
.y-tabs .y-tabs-bar .y-tabs-tab-selected, .y-tabs-like .y-tabs-bar .y-tabs-tab-selected {
  z-index: 9;
  border-right: 1px solid #eeeeee;
  border-top: 2px solid #00a2ca;
  border-bottom: 1px solid white;
  background-color: white; }
.y-tabs .y-tabs-bar .y-tabs-tab-selected a, .y-tabs-like .y-tabs-bar .y-tabs-tab-selected a {
  border-left: 1px solid #eeeeee !important; }
.y-tabs .y-tabs-bar-2 .y-tabs-tab, .y-tabs-like .y-tabs-bar-2 .y-tabs-tab {
  width: 50%; }
.y-tabs .y-tabs-bar-3 .y-tabs-tab, .y-tabs-like .y-tabs-bar-3 .y-tabs-tab {
  width: 33%; }
.y-tabs .y-tabs-bar-3 .y-tabs-tab-last, .y-tabs-like .y-tabs-bar-3 .y-tabs-tab-last {
  width: 34%; }
.y-tabs .y-tabs-bar-4 .y-tabs-tab, .y-tabs-like .y-tabs-bar-4 .y-tabs-tab {
  width: 25%; }
.y-tabs .y-tabs-bar-5 .y-tabs-tab, .y-tabs-like .y-tabs-bar-5 .y-tabs-tab {
  width: 20%; }
.y-tabs .y-tabs-bar-6 .y-tabs-tab, .y-tabs-like .y-tabs-bar-6 .y-tabs-tab {
  width: 16%; }
.y-tabs .y-tabs-bar-6 .y-tabs-tab:first-child, .y-tabs .y-tabs-bar-6 .y-tabs-tab-first, .y-tabs-like .y-tabs-bar-6 .y-tabs-tab:first-child, .y-tabs-like .y-tabs-bar-6 .y-tabs-tab-first {
  width: 18%; }
.y-tabs .y-tabs-bar-6 .y-tabs-tab-last, .y-tabs-like .y-tabs-bar-6 .y-tabs-tab-last {
  width: 18%; }
.y-tabs .y-tabs-bar-7 .y-tabs-tab, .y-tabs-like .y-tabs-bar-7 .y-tabs-tab {
  width: 14%; }
.y-tabs .y-tabs-bar-7 .y-tabs-tab:first-child, .y-tabs .y-tabs-bar-7 .y-tabs-tab-first, .y-tabs-like .y-tabs-bar-7 .y-tabs-tab:first-child, .y-tabs-like .y-tabs-bar-7 .y-tabs-tab-first {
  width: 15%; }
.y-tabs .y-tabs-bar-7 .y-tabs-tab:last-child, .y-tabs .y-tabs-bar-7 .y-tabs-tab-last, .y-tabs-like .y-tabs-bar-7 .y-tabs-tab:last-child, .y-tabs-like .y-tabs-bar-7 .y-tabs-tab-last {
  width: 15%; }
.y-tabs .y-tabs-bar-8 .y-tabs-tab, .y-tabs-like .y-tabs-bar-8 .y-tabs-tab {
  width: 12%; }
.y-tabs .y-tabs-bar-8 .y-tabs-tab:first-child, .y-tabs .y-tabs-bar-8 .y-tabs-tab-first, .y-tabs-like .y-tabs-bar-8 .y-tabs-tab:first-child, .y-tabs-like .y-tabs-bar-8 .y-tabs-tab-first {
  width: 14%; }
.y-tabs .y-tabs-bar-8 .y-tabs-tab:last-child, .y-tabs .y-tabs-bar-8 .y-tabs-tab-last, .y-tabs-like .y-tabs-bar-8 .y-tabs-tab:last-child, .y-tabs-like .y-tabs-bar-8 .y-tabs-tab-last {
  width: 14%; }
.y-tabs .y-tabs-bar-9 .y-tabs-tab, .y-tabs-like .y-tabs-bar-9 .y-tabs-tab {
  width: 11%; }
.y-tabs .y-tabs-bar-9 .y-tabs-tab:last-child, .y-tabs .y-tabs-bar-9 .y-tabs-tab-last, .y-tabs-like .y-tabs-bar-9 .y-tabs-tab:last-child, .y-tabs-like .y-tabs-bar-9 .y-tabs-tab-last {
  width: 12%; }
.y-tabs .y-tabs-bar-10 .y-tabs-tab, .y-tabs-like .y-tabs-bar-10 .y-tabs-tab {
  width: 10%; }
.y-tabs .y-tabs-body, .y-tabs-like .y-tabs-body {
  border: 1px solid #00a2ca;
  background-color: white;
  margin-top: -1px;
  padding-top: 1px; }
.y-tabs .y-tabs-body .y-tabs-panel, .y-tabs-like .y-tabs-body .y-tabs-panel {
  display: none; }
.y-tabs .y-tabs-body .y-tabs-panel-selected, .y-tabs-like .y-tabs-body .y-tabs-panel-selected {
  display: block; }

.y-tabs-like .y-tabs-bar .y-tabs-tab-selected {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
.y-tabs-like .y-tabs-bar .y-tabs-tab {
  border-bottom-color: #eee; }

.y-table {
  width: 100%;
  margin-bottom: 10px;
  border: none; }
.y-table thead, .y-table tfoot {
  background: #f9f9f9; }
.y-table thead tr, .y-table tfoot tr {
  height: 26px; }
.y-table thead tr th, .y-table thead tr td, .y-table tfoot tr th, .y-table tfoot tr td {
  font-weight: bold;
  padding: 0 15px;
  font-size: 12px;
  text-align: left; }
.y-table tbody tr {
  border-bottom: 1px #e5e5e5 dotted; }
.y-table tbody tr th, .y-table tbody tr td {
  padding: 15px; }
.y-table tbody tr.even, .y-table tbody tr.alt, .y-table tbody tr:nth-of-type(even) {
  background: #fff; }

.y-pagination {
  margin: 20px 0; }

.y-pagination ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }

.y-pagination ul > li {
  display: inline; }

.y-pagination ul > li > a, .y-pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #dddddd;
  border-left-width: 0; }

.y-pagination ul > li > a:hover, .y-pagination ul > li > a:focus, .y-pagination ul > .active > a, .y-pagination ul > .active > span {
  background-color: whitesmoke; }

.y-pagination ul > .active > a, .y-pagination ul > .active > span {
  color: #999999;
  cursor: default; }

.y-pagination ul > .disabled > span, .y-pagination ul > .disabled > a, .y-pagination ul > .disabled > a:hover, .y-pagination ul > .disabled > a:focus {
  color: #999999;
  background-color: transparent;
  cursor: default; }

.y-pagination ul > li:first-child > a, .y-pagination ul > li:first-child > span {
  border-left-width: 1px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.y-pagination ul > li:last-child > a, .y-pagination ul > li:last-child > span {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.y-pagination-centered {
  text-align: center !important; }

.y-pagination-right {
  text-align: right !important; }

.y-pagination-large ul > li > a, .y-pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 15px; }
.y-pagination-large ul > li:first-child > a, .y-pagination-large ul > li:first-child > span {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px; }
.y-pagination-large ul > li:last-child > a, .y-pagination-large ul > li:last-child > span {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px; }

.y-pagination-mini ul > li:first-child > a, .y-pagination-mini ul > li:first-child > span, .y-pagination-small ul > li:first-child > a, .y-pagination-small ul > li:first-child > span {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px; }
.y-pagination-mini ul > li:last-child > a, .y-pagination-mini ul > li:last-child > span, .y-pagination-small ul > li:last-child > a, .y-pagination-small ul > li:last-child > span {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.y-pagination-small ul > li > a, .y-pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 10.2px; }

.y-pagination-mini ul > li > a, .y-pagination-mini ul > li > span {
  padding: 0px 6px;
  font-size: 9px; }

.y-overlay {
  border: 2px solid #9cddf5;
  background: #fff;
  z-index: 111;
  outline: none; }

.y-overlay-hidden {
  visibility: hidden; }

.y-overlay-mask-hidden {
  display: none; }

.y-overlay-shown {
  visibility: visible; }

.y-overlay-mask {
  background: #000;
  filter: alpha(opacity=70);
  opacity: 0.7; }

.y-overlay-mask-shown {
  display: block; }

.y-dialog-close, .y-overlay-close {
  position: absolute;
  right: 0;
  z-index: 112; }

.y-overlay-close-x {
  float: right;
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #fff;
  background: #00a2ca;
  padding: 5px;
  margin-right: -2px;
  margin-top: -2px;
  line-height: 1;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 12px;
  height: 12px;
  font-smoothing: antialiased;
  *background: url(//gtms01.alicdn.com/tps/i1/T14On3FcleXXa1YfHb-24-24.png) no-repeat 0 0; }
.y-overlay-close-x:before {
  content: "\e602"; }
.y-overlay-close-x:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8; }

.y-alert {
  padding: 8px;
  margin-bottom: 1.5em;
  border: 1px solid #e2eced;
  border-color: #e2eced;
  background-color: #f1f6fa;
  color: #666; }
.y-alert .icon {
  font-size: 14px;
  margin-right: 8px;
  vertical-align: text-top;
  color: #00a2c9; }

.y-alert-success {
  border-color: #e7f3da;
  background-color: #f7ffee;
  color: #666; }
.y-alert-success .icon {
  color: #339900; }

.y-alert-info {
  border-color: #e2eced;
  background-color: #f7ffee;
  color: #666; }
.y-alert-info .icon {
  color: #339900; }

.y-alert-warning {
  border-color: #f6edd7;
  background-color: #fffded;
  color: #666; }
.y-alert-warning .icon {
  color: #ff6905; }

.y-alert-error {
  border-color: #f8e2d4;
  background-color: #fff3e7;
  color: #f03e3b; }
.y-alert-error .icon {
  color: #ee0000; }

.y-pull-right {
  float: right !important; }

.y-pull-left {
  float: left !important;
  _display: inline; }

.y-hide {
  display: none !important; }

.y-show {
  display: block !important; }

.y-invisible {
  visibility: hidden !important; }

.y-affix {
  position: fixed !important; }

.y-clearfix {
  zoom: 1; }
.y-clearfix:before, .y-clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }
.y-clearfix:after {
  clear: both; }

.y-hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.y-red {
  color: #F60; }

.y-blue {
  color: #00a2c9; }

@-ms-viewport {
  width: device-width; }

.y-hidden {
  display: none;
  visibility: hidden; }

.visible-phone {
  display: none !important; }

.visible-tablet {
  display: none !important; }

.hidden-desktop {
  display: none !important; }

.visible-desktop {
  display: inherit !important; }

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important; }

  .visible-desktop {
    display: none !important; }

  .visible-tablet {
    display: inherit !important; }

  .hidden-tablet {
    display: none !important; } }
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important; }

  .visible-desktop {
    display: none !important; }

  .visible-phone {
    display: inherit !important; }

  .hidden-phone {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: inherit !important; }

  .hidden-print {
    display: none !important; } }
@media (min-width: 1201px) {
  .y-row {
    width: 1200px;
    min-width: 1200px; } }
@media (max-width: 1200px) {
  .y-row {
    width: 980px;
    min-width: 980px; } }
.page-screen980 .y-row {
  width: 980px !important;
  min-width: 980px !important; }

.page-screen1200 .y-row {
  width: 1200px !important;
  min-width: 1200px !important; }

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */ }

body {
  font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53" !important;
  font-size: 12px;
  line-height: 1.8em;
  text-rendering: auto;
  color: #666;
  background-color: #fbfaf8; }

a {
  color: #666666;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  color: #00a2ca;
  text-decoration: underline; }

a.y-blue {
  color: #00a2ca !important; }

a.y-gray {
  color: #666666 !important; }
a.y-gray:hover {
  color: #00a2ca !important; }

a.y-orange {
  color: #ff6600 !important; }
a.y-orange:hover {
  color: #ff6600 !important; }

a.y-detail {
  color: #00a2ca !important; }
